@using Dominio.Entidades

@if (@ViewBag.Mensaje != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Mensaje
    </div>
}

<nav aria-label="breadcrumb">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li><a class="link-secondary" href="/empleado/index">Inicio</a></li>
    </ul>
</nav>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Descripcion</th>
            <th>Fecha de realizacion</th>
            <th>Tarea completa</th>
            <th>Fecha de cierre</th>
            <th>Comentario</th>
        </tr>
    </thead>
    <tbody>

        @foreach (Tarea tarea in ViewBag.Tareas)
        {
            <tr>
                <td>@tarea.Descripcion</td>
                <td>@tarea.FechaRealizacion.ToShortDateString()</td>
                <td>@tarea.TareaCompleta</td>
                <td>@tarea.FechaCierre.ToShortDateString()</td>
                <td>@tarea.Comentario</td>
            </tr>

        }
    </tbody>
</table>
